{# Description no longer than 155 characters #}
<meta name="description" content="{{ description }}">
<!-- Twitter Card data -->
<meta name="twitter:card" content="КЛИНИНГОВЫЕ УСЛУГИ">
<meta name="twitter:site" content="http://arozone.pro/">
<meta name="twitter:title" content="Arozone">
<meta name="twitter:description" content="Наша компания готова предоставить решения для любых объектов:
от бизнес-центров класса “А” до цехов промышленных предприятий,
от магазинов до фармацептических производств,
от яхт до самолетов.">
<meta name="twitter:creator" content="Arozone">
{# Twitter Summary card images must be at least 120x120px #}
<meta name="twitter:image" content="http://arozone.pro/img/fbpost.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Arozone">
<meta property="og:type" content="КЛИНИНГОВЫЕ УСЛУГИ">
<meta property="og:url" content="http://arozone.pro/">
<meta property="og:image" content="http://arozone.pro/img/fbpost.jpg">
<meta property="og:description" content="Наша компания готова предоставить решения для любых объектов:
от бизнес-центров класса “А” до цехов промышленных предприятий,
от магазинов до фармацептических производств,
от яхт до самолетов.">
<meta property="og:site_name" content="Arozone">
<meta property="fb:admins" content="{{ fb_admins }}">
