mixin insert-image(name, alt, className)
	-alt = alt || 'image'
	img(alt="#{alt}" src="img/#{name}" class='#{className}' || '')

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/sprite.svg#" + name)